@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Medium.woff') format('woff'),
	url('../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Light.woff') format('woff'),
	url('../fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Regular.woff') format('woff'),
	url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Bold.woff') format('woff'),
	url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Consolas';
	src: url('../fonts/Consolas.eot');
	src: url('../fonts/Consolas.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Consolas.woff') format('woff'),
	url('../fonts/Consolas.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


