@mixin icon($name) {
	background-image: url('../images/icons/#{$name}');
}

[class^="icon"] {
	display: block;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-css {@include icon('icon-css.svg');}
.icon-html {@include icon('icon-html.svg');}
.icon-javascript {@include icon('icon-javascript.svg');}
.icon-habr {@include icon('icon-habr.jpg');}
.icon-youtube {@include icon('icon-youtube.svg');}
.icon-github {@include icon('icon-github.svg');}
.icon-html5 {@include icon('icon-html5.svg');}
.icon-css3 {@include icon('icon-css3.svg');}
.icon-js6 {@include icon('icon-js6.png');}
.icon-figma {@include icon('icon-figma.svg');}
.icon-gulp {@include icon('icon-gulp.svg');}
.icon-sass {@include icon('icon-sass.svg');}
.icon-sublime {@include icon('icon-sublime.svg');}
.icon-svg {@include icon('icon-svg.png');}
.icon-webpack {@include icon('icon-webpack.svg');}
.icon-webstorm {@include icon('icon-webstorm.svg');}
.icon-git {@include icon('icon-git.svg');}
.icon-google {@include icon('icon-google.svg');}
.icon-vue {@include icon('icon-vue.svg');}
.icon-phone {@include icon('icon-phone.svg');}
