@mixin icon($name) {
	background-image: url('../images/icons/#{$name}');
}

[class^="icon"] {
	display: block;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-css {@include icon('icon-css.svg');}
.icon-html {@include icon('icon-html.svg');}
.icon-javascript {@include icon('icon-javascript.svg');}
.icon-habr {@include icon('icon-habr.jpg');}
.icon-youtube {@include icon('icon-youtube.svg');}

