.about {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 30px;
	background: var(--light-bg);
}

.about__headline {
	margin-bottom: 30px;
}

.about__title {
	position: relative;
	padding-bottom: 16px;
	font-size: 40px;
	color: #000;
	font-weight: 600;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: var(--brand-color);
	}
}
