.works-galery {
	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -20px;
}

.works-galery__item {
	width: 33.33%;
	margin-bottom: 20px;
	padding: 0 10px;
}

.galery-item {
	padding-bottom: 100%;
	position: relative;
	border: 3px dashed #000000;
	font-size: 1rem;

	&:hover {
		.galery-shade {
			opacity: 1;
			transform: rotateX(0deg);
		}
	}
}

.galery-item--prod {
	border-style: solid;

	.galery-item__img {
		border: 3px solid var(--brand-color);
	}

	.galery-item__counter {
		color: var(--brand-color);
	}
}

.galery-item__img {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0px 1px #959595;
}


.galery-item__pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.galery-item__shade {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	perspective: 700px;
}

.galery-shade {
	transform-origin: 100% 0;
	opacity: 0;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
	transform: rotateX(-100deg);
	background: rgba(0, 0, 0, 0.9);
	height: 100%;
	padding: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:before {
		content: '';
		display: block;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 20px;
		left: 20px;
		border-top: 2px solid hsla(0, 0%, 100%, .5);
		border-left: 2px solid hsla(0, 0%, 100%, .5);
	}

	&:after {
		content: '';
		display: block;
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 20px;
		right: 20px;
		border-bottom: 2px solid hsla(0, 0%, 100%, .5);
		border-right: 2px solid hsla(0, 0%, 100%, .5);
	}
}

.galery-item__counter {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 0;
	right: 0;
	transform: translateX(30%) translateY(-30%);
	background: #000;
	font-size: 14px;
	color: var(--light-color);
	z-index: 4;
	border: 1px solid var(--brand-color);
}

.galery-shade__title {
	font-size: 18px;
	text-align: center;
	color: var(--light-color);
	margin-bottom: 10px;
}

.link-list-gal__link {
	font-size: 16px;
	line-height: 1.2;
	color: var(--light-color);
	font-weight: 300;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	text-decoration: underline;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 1px;
		background: currentColor;
		transition: width .2s;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		position: absolute;
	}

	&:hover:before {
		width: 100%;
	}
}

.link-list-gal__link--prod {
	color: var(--brand-color);
}

.link-list-gal {
	overflow: auto;
	margin-bottom: 10px;
}

.galery-shade__small {
	font-size: 12px;
	color: hsla(0, 0, 100%, .5);
	display: flex;
	justify-content: space-between;
}

.link-list-gal__item {
	text-align: center;
	margin-bottom: 5px;

	&:last-child {
		margin: 0;
	}
}
