.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	width: 60%;
	height: 100px;
	padding: 30px;
	background-color: #191919;

	&:before {
		content: '';
		position: absolute;
		left: 30px;
		top: 0;
		bottom: 0;
		width: 50px;
		height: 50px;
		margin: auto;
		border-left: 2px solid var(--brand-color);
		border-top: 2px solid var(--brand-color);
	}
}

.footer__desc {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 15px;
	font-size: 16px;
	color: var(--light-color);
}

.footer__link {
	color: var(--brand-color);
	text-decoration: underline;
}
