.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	width: 40%;
	height: 70px;
	justify-content: space-between;
	background: #191919;
}

.header__logo-wrap {
	width: 100%;
	max-width: 200px;
	height: 100%;
}

.header__logo-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: var(--brand-color);
	perspective: 900px;
}

.header__logo {
	position: relative;
	display: block;
	width: 50px;
	height: 60px;
	transform-style: preserve-3d;
	transition: transform .3s;
}

.header__logo--active {
	transform: rotateY(180deg);
}

.header__logo-brand--hidden {
	transform: rotateY(180deg);
}

.header__logo-brand {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.header__logo-text {
	display: block;
	margin-bottom: 2px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	text-shadow: 0 1px 0 #000;
}

.header__logo-text--1 {
	color: #fff;
	text-shadow: -1px 1px 0 #1f62ae;
}

.header__logo-text--2 {
	color: #fff;
	text-shadow: -1px 1px 0 #1f62ae;
}

.header__logo-pic  {
	width: 50px;
	height: 50px;
}

.menu__desc {
	position: absolute;
	top: 100%;
}
