.home {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 30px;
	background: var(--light-bg);
}

.home__menu {
	display: flex;
	margin-bottom: 24px;
}

.home__tab-btn {
	padding: 10px;
	border: 1px solid var(--brand-color);

	&:not(:last-child) {
		margin-right: 8px;
	}
}

.home__menu-btn {
	&:not(:last-child) {
		margin-right: 8px;
	}
}
