.pixels-sect {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 60px;
	padding-top: 130px;
	background-size: cover;
	background-position: center;
	background-image: url('../images/bg/pixels-sect-bg.jpg');

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.4);
		z-index: 1;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
}

.banner-item__pixel {
	border-left: 10px solid rgba(2552, 255, 255, .7);
	border-bottom: 10px solid rgba(2552, 255, 255, .7);
	height: 100%;
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

