.button-anim{
	position: relative;
	font-size: 1px;
	width: 162em;
	height: 52em;
	color: #000;
	perspective: 450em;
	display: block;
}

.button-anim__l, .button-anim__r{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	display: block;
	z-index: 2;
}

.button-anim__l{
	left: 0;

	&:hover ~ .button-anim__button{
		transform: rotateY(-25deg);
	}
}

.button-anim__r{
	right: 0;

	&:hover ~ .button-anim__button{
		transform: rotateY(25deg);
	}
}

.button-anim__button{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16em;
	background: #212326;
	color: var(--brand-color);
	cursor: pointer;
	transform-style: preserve-3d;
	transition: transform .5s;
	border: 1px solid;

	&:before,
	&:after{
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: rgba(255,195,0,.46);
		width: 2.4em;
		border:1px solid;
		box-sizing: content-box;

	}

	&:before{
		left: 0;
		transform: rotateY(90deg);
		transform-origin: 0 100%;
	}

	&:after{
		right: 0;
		transform: rotateY(-90deg);
		transform-origin: 100% 0;
	}
}

.button-anim__text{
	font-size: 1.7em;
	letter-spacing: .03em;
}
