.button {
	display: inline-flex;
	align-items: center;
	height: 42px;
	padding: 0 20px;
	background-color: var(--brand-color);
	font-size: 14px;
	font-weight: 500;
	color: var(--dark-color);
	border: 2px solid;
	text-transform: uppercase;
	cursor: pointer;
	transition: color .3s,
		background-color .3s;

	@include hover {
		&:focus,
		&:hover {
			color: var(--brand-color);
			background-color: var(--dark-color);
		}
	}

	&.active {
		color: var(--brand-color);
		background-color: var(--dark-color);
	}

	&:active {
		opacity: .8;
	}
}
