
.pixel {
	position: relative;
	width: 110em;
	margin: 10em auto;
	height: 113em;
	animation: 5s infinite left1;
	font-size: 1.5px;
	will-change: transform;

}

.pixel > b {
	background: #1f1f1f;
	width: 10em;
	height: 10em;
	position: absolute;
	transition: 5s;
	display: block;
	border: 1em solid #000000;
	box-shadow: inset 0 0 0 2em #939393;
	will-change: transform;
}

.item1 {
	left: 20em;
	top: 0;
	animation: 5s infinite item1;
}

.item2 {
	left: 30em;
	top: 10em;
	animation: 5s infinite item2;
}

.item3 {
	left: 20em;
	top: 20em;
	animation: 5s infinite item3;
}

.item4 {
	left: 0em;
	top: 40em;
	animation: 5s infinite item4;
}

.item5 {
	left: 0em;
	top: 50em;
	animation: 5s infinite item5;
}

.item6 {
	left: 0em;
	top: 60em;
	animation: 5s infinite item6;
}

.item7 {
	left: 0em;
	top: 70em;
	animation: 5s infinite item7;
}

.item8 {
	left: 10em;
	top: 30em;
	animation: 5s infinite item8;
}

.item9 {
	left: 10em;
	top: 40em;
	animation: 5s infinite item9;
}

.item10 {
	left: 20em;
	top: 30em;
	animation: 5s infinite item10;
}

.item11 {
	left: 20em;
	top: 40em;
	animation: 5s infinite item11;
}

.item12 {
	left: 20em;
	top: 50em;
	animation: 5s infinite item12;
}

.item13 {
	left: 20em;
	top: 60em;
	animation: 5s infinite item13;
}

.item14 {
	left: 20em;
	top: 70em;
	animation: 5s infinite item14;
}

.item15 {
	left: 30em;
	top: 20em;
	animation: 5s infinite item15;
}

.item16 {
	left: 30em;
	top: 40em;
	animation: 5s infinite item16;
}

.item17 {
	left: 30em;
	top: 50em;
	animation: 5s infinite item17;
}

.item18 {
	left: 30em;
	top: 60em;
	animation: 5s infinite item18;
}

.item19 {
	left: 30em;
	top: 80em;
	animation: 5s infinite item19;
}

.item20 {
	left: 40em;
	top: 80em;
	animation: 5s infinite item20;
}

.item21 {
	left: 40em;
	top: 20em;
	animation: 5s infinite item21;
}

.item22 {
	left: 40em;
	top: 30em;
	animation: 5s infinite item22;
}

.item23 {
	left: 40em;
	top: 40em;
	animation: 5s infinite item23;
}

.item24 {
	left: 40em;
	top: 50em;
	animation: 5s infinite item24;
}

.item25 {
	left: 40em;
	top: 60em;
	animation: 5s infinite item25;
}

.item26 {
	left: 50em;
	top: 20em;
	animation: 5s infinite item26;
}

.item27 {
	left: 50em;
	top: 30em;
	animation: 5s infinite item27;
}

.item28 {
	left: 50em;
	top: 40em;
	animation: 5s infinite item28;
}

.item29 {
	left: 50em;
	top: 50em;
	animation: 5s infinite item29;
}

.item30 {
	left: 50em;
	top: 60em;
	animation: 5s infinite item30;
}

.item31 {
	left: 60em;
	top: 20em;
	animation: 5s infinite item31;
}

.item32 {
	left: 60em;
	top: 30em;
	animation: 5s infinite item32;
}

.item33 {
	left: 60em;
	top: 40em;
	animation: 5s infinite item33;
}

.item34 {
	left: 60em;
	top: 50em;
	animation: 5s infinite item34;
}

.item35 {
	left: 60em;
	top: 60em;
	animation: 5s infinite item35;
}

.item36 {
	left: 70em;
	top: 20em;
	animation: 5s infinite item36;
}

.item37 {
	left: 70em;
	top: 40em;
	animation: 5s infinite item37;
}

.item38 {
	left: 70em;
	top: 50em;
	animation: 5s infinite item38;
}

.item39 {
	left: 70em;
	top: 60em;
	animation: 5s infinite item39;
}

.item40 {
	left: 70em;
	top: 80em;
	animation: 5s infinite item40;
}

.item41 {
	left: 60em;
	top: 80em;
	animation: 5s infinite item41;
}

.item42 {
	left: 80em;
	top: 70em;
	animation: 5s infinite item42;
}

.item43 {
	left: 80em;
	top: 60em;
	animation: 5s infinite item43;
}

.item44 {
	left: 80em;
	top: 50em;
	animation: 5s infinite item44;
}

.item45 {
	left: 80em;
	top: 40em;
	animation: 5s infinite item45;
}

.item46 {
	left: 80em;
	top: 30em;
	animation: 5s infinite item46;
}

.item47 {
	left: 80em;
	top: 20em;
	animation: 5s infinite item47;
}

.item48 {
	left: 70em;
	top: 10em;
	animation: 5s infinite item48;
}

.item49 {
	left: 80em;
	top: 0em;
	animation: 5s infinite item49;
}

.item50 {
	left: 90em;
	top: 30em;
	animation: 5s infinite item50;
}

.item51 {
	left: 90em;
	top: 40em;
	animation: 5s infinite item51;
}

.item52 {
	left: 100em;
	top: 40em;
	animation: 5s infinite item52;
}

.item53 {
	left: 100em;
	top: 50em;
	animation: 5s infinite item53;
}

.item54 {
	left: 100em;
	top: 60em;
	animation: 5s infinite item54;
}

.item55 {
	left: 100em;
	top: 70em;
	animation: 5s infinite item55;
}

.item56 {
	left: 50em;
	top: 30em;
	animation: 5s infinite item56;
}

@keyframes item1 {
	from {
		left: 20em;
		top: 0;
	}
	40% {
		left: 20em;
		top: 0;
	}
	45% {
		left: 50em;
		top: 10em;
	}
	55% {
		left: 50em;
		top: 10em;
	}
	60% {
		left: 20em;
		top: 0;
	}

	to {
		left: 20em;
		top: 0;
	}
}

@keyframes item2 {
	from {
		left: 30em;
		top: 10em;
	}
	40% {
		left: 30em;
		top: 10em;
	}

	45% {
		left: 40em;
		top: 0em;
	}
	55% {
		left: 40em;
		top: 0em;
	}
	60% {
		left: 30em;
		top: 10em;
	}

	to {
		left: 30em;
		top: 10em;
	}
}

@keyframes item3 {
	from {
		left: 20em;
		top: 20em;
	}
	40% {
		left: 20em;
		top: 20em;
	}

	45% {
		left: 30em;
		top: 0em;
	}
	55% {
		left: 30em;
		top: 0em;
	}
	60% {
		left: 20em;
		top: 20em;
	}

	to {
		left: 20em;
		top: 20em;
	}
}

@keyframes item4 {
	from {
		left: 0em;
		top: 40em;
	}
	40% {
		left: 0em;
		top: 40em;
	}

	45% {
		left: 20em;
		top: 0em;
	}
	55% {
		left: 20em;
		top: 0em;
	}
	60% {
		left: 0em;
		top: 40em;
	}

	to {
		left: 0em;
		top: 40em;
	}
}

@keyframes item5 {
	from {
		left: 0em;
		top: 50em;
	}
	40% {
		left: 0em;
		top: 50em;
	}

	45% {
		left: 10em;
		top: 0em;
	}
	55% {
		left: 10em;
		top: 0em;
	}
	60% {
		left: 0em;
		top: 50em;
	}

	to {
		left: 0em;
		top: 50em;
	}
}

@keyframes item6 {
	from {
		left: 0em;
		top: 60em;
	}
	40% {
		left: 0em;
		top: 60em;
	}

	45% {
		left: 0em;
		top: 10em;
	}
	55% {
		left: 0em;
		top: 10em;
	}
	60% {
		left: 0em;
		top: 60em;
	}

	to {
		left: 0em;
		top: 60em;
	}
}

@keyframes item7 {
	from {
		left: 0em;
		top: 70em;
	}
	40% {
		left: 0em;
		top: 70em;
	}

	45% {
		left: 0em;
		top: 20em;
	}
	55% {
		left: 0em;
		top: 20em;
	}
	60% {
		left: 0em;
		top: 70em;
	}

	to {
		left: 0em;
		top: 70em;
	}
}

@keyframes item8 {
	from {
		left: 10em;
		top: 30em;
	}
	40% {
		left: 10em;
		top: 30em;
	}

	45% {
		left: 0em;
		top: 30em;
	}
	55% {
		left: 0em;
		top: 30em;
	}
	60% {
		left: 10em;
		top: 30em;
	}

	to {
		left: 10em;
		top: 30em;
	}
}

@keyframes item9 {
	from {
		left: 10em;
		top: 40em;
	}
	40% {
		left: 10em;
		top: 40em;
	}

	45% {
		left: 0em;
		top: 40em;
	}
	55% {
		left: 0em;
		top: 40em;
	}
	60% {
		left: 10em;
		top: 40em;
	}

	to {
		left: 10em;
		top: 40em;
	}
}

@keyframes item10 {
	from {
		left: 20em;
		top: 30em;
	}
	40% {
		left: 20em;
		top: 30em;
	}

	45% {
		left: 0em;
		top: 50em;
	}
	55% {
		left: 0em;
		top: 50em;
	}
	60% {
		left: 20em;
		top: 30em;
	}

	to {
		left: 20em;
		top: 30em;
	}
}

@keyframes item11 {
	from {
		left: 20em;
		top: 40em;
	}
	40% {
		left: 20em;
		top: 40em;
	}

	45% {
		left: 0em;
		top: 60em;
	}
	55% {
		left: 0em;
		top: 60em;
	}
	60% {
		left: 20em;
		top: 40em;
	}

	to {
		left: 20em;
		top: 40em;
	}
}

@keyframes item12 {
	from {
		left: 20em;
		top: 50em;
	}
	40% {
		left: 20em;
		top: 50em;
	}

	45% {
		left: 10em;
		top: 70em;
	}
	55% {
		left: 10em;
		top: 70em;
	}
	60% {
		left: 20em;
		top: 50em;
	}

	to {
		left: 20em;
		top: 50em;
	}
}

@keyframes item13 {
	from {
		left: 20em;
		top: 60em;
	}
	40% {
		left: 20em;
		top: 60em;
	}

	45% {
		left: 20em;
		top: 70em;
	}
	55% {
		left: 20em;
		top: 70em;
	}
	60% {
		left: 20em;
		top: 60em;
	}

	to {
		left: 20em;
		top: 60em;
	}
}

@keyframes item14 {
	from {
		left: 20em;
		top: 70em;
	}
	40% {
		left: 20em;
		top: 70em;
	}

	45% {
		left: 30em;
		top: 70em;
	}
	55% {
		left: 30em;
		top: 70em;
	}
	60% {
		left: 20em;
		top: 70em;
	}

	to {
		left: 20em;
		top: 70em;
	}
}

@keyframes item15 {
	from {
		left: 30em;
		top: 20em;
	}
	40% {
		left: 30em;
		top: 20em;
	}

	45% {
		left: 40em;
		top: 70em;
	}
	55% {
		left: 40em;
		top: 70em;
	}
	60% {
		left: 30em;
		top: 20em;
	}

	to {
		left: 30em;
		top: 20em;
	}
}

@keyframes item16 {
	from {
		left: 30em;
		top: 40em;
	}
	40% {
		left: 30em;
		top: 40em;
	}

	45% {
		left: 50em;
		top: 60em;
	}
	55% {
		left: 50em;
		top: 60em;
	}
	60% {
		left: 30em;
		top: 40em;
	}

	to {
		left: 30em;
		top: 40em;
	}
}

@keyframes item17 {
	from {
		left: 30em;
		top: 50em;
	}
	40% {
		left: 30em;
		top: 50em;
	}

	45% {
		left: 70em;
		top: 10em;
	}
	55% {
		left: 70em;
		top: 10em;
	}
	60% {
		left: 30em;
		top: 50em;
	}

	to {
		left: 30em;
		top: 50em;
	}
}

@keyframes item18 {
	from {
		left: 30em;
		top: 60em;
	}
	40% {
		left: 30em;
		top: 60em;
	}

	45% {
		left: 70em;
		top: 20em;
	}
	55% {
		left: 70em;
		top: 20em;
	}
	60% {
		left: 30em;
		top: 60em;
	}

	to {
		left: 30em;
		top: 60em;
	}
}

@keyframes item19 {
	from {
		left: 30em;
		top: 80em;
	}
	40% {
		left: 30em;
		top: 80em;
	}

	45% {
		left: 70em;
		top: 50em;
	}
	55% {
		left: 70em;
		top: 50em;
	}
	60% {
		left: 30em;
		top: 80em;
	}

	to {
		left: 30em;
		top: 80em;
	}
}

@keyframes item20 {
	from {
		left: 40em;
		top: 80em;
	}
	40% {
		left: 40em;
		top: 80em;
	}

	45% {
		left: 70em;
		top: 60em;
	}
	55% {
		left: 70em;
		top: 60em;
	}
	60% {
		left: 40em;
		top: 80em;
	}

	to {
		left: 40em;
		top: 80em;
	}
}

@keyframes item21 {
	from {
		left: 40em;
		top: 20em;
	}
	40% {
		left: 40em;
		top: 20em;
	}

	45% {
		left: 80em;
		top: 0em;
	}
	55% {
		left: 80em;
		top: 0em;
	}

	60% {
		left: 40em;
		top: 20em;
	}
	to {
		left: 40em;
		top: 20em;
	}
}

@keyframes item22 {
	from {
		left: 40em;
		top: 30em;
	}
	40% {
		left: 40em;
		top: 30em;
	}

	45% {
		left: 90em;
		top: 0em;
	}
	55% {
		left: 90em;
		top: 0em;
	}

	60% {
		left: 40em;
		top: 30em;
	}
	to {
		left: 40em;
		top: 30em;
	}
}

@keyframes item23 {
	from {
		left: 40em;
		top: 40em;
	}
	40% {
		left: 40em;
		top: 40em;
	}

	45% {
		left: 100em;
		top: 0em;
	}
	55% {
		left: 100em;
		top: 0em;
	}

	60% {
		left: 40em;
		top: 40em;
	}
	to {
		left: 40em;
		top: 40em;
	}
}

@keyframes item24 {
	from {
		left: 40em;
		top: 50em;
	}
	40% {
		left: 40em;
		top: 50em;
	}

	45% {
		left: 110em;
		top: 0em;
	}
	55% {
		left: 110em;
		top: 0em;
	}

	60% {
		left: 40em;
		top: 50em;
	}
	to {
		left: 40em;
		top: 50em;
	}
}

@keyframes item25 {
	from {
		left: 40em;
		top: 60em;
	}
	40% {
		left: 40em;
		top: 60em;
	}

	45% {
		left: 120em;
		top: 10em;
	}
	55% {
		left: 120em;
		top: 10em;
	}

	60% {
		left: 40em;
		top: 60em;
	}
	to {
		left: 40em;
		top: 60em;
	}
}

@keyframes item26 {
	from {
		left: 50em;
		top: 20em;
	}
	40% {
		left: 50em;
		top: 20em;
	}

	45% {
		left: 120em;
		top: 20em;
	}
	55% {
		left: 120em;
		top: 20em;
	}

	60% {
		left: 50em;
		top: 20em;
	}
	to {
		left: 50em;
		top: 20em;
	}
}

@keyframes item27 {
	from {
		left: 50em;
		top: 40em;
	}
	40% {
		left: 50em;
		top: 40em;
	}

	45% {
		left: 80em;
		top: 30em;
	}
	55% {
		left: 80em;
		top: 30em;
	}

	60% {
		left: 50em;
		top: 40em;
	}
	to {
		left: 50em;
		top: 40em;
	}
}

@keyframes item28 {
	from {
		left: 50em;
		top: 40em;
	}
	40% {
		left: 50em;
		top: 40em;
	}

	45% {
		left: 90em;
		top: 30em;
	}
	55% {
		left: 90em;
		top: 30em;
	}

	60% {
		left: 50em;
		top: 40em;
	}
	to {
		left: 50em;
		top: 40em;
	}
}

@keyframes item29 {
	from {
		left: 50em;
		top: 50em;
	}
	40% {
		left: 50em;
		top: 50em;
	}

	45% {
		left: 100em;
		top: 40em;
	}
	55% {
		left: 100em;
		top: 40em;
	}

	60% {
		left: 50em;
		top: 50em;
	}
	to {
		left: 50em;
		top: 50em;
	}
}

@keyframes item30 {
	from {
		left: 50em;
		top: 60em;
	}
	40% {
		left: 50em;
		top: 60em;
	}

	45% {
		left: 110em;
		top: 40em;
	}
	55% {
		left: 110em;
		top: 40em;
	}

	60% {
		left: 50em;
		top: 60em;
	}
	to {
		left: 50em;
		top: 60em;
	}
}

@keyframes item31 {
	from {
	}
	40% {
		left: 60em;
		top: 20em;
	}

	45% {
		left: 120em;
		top: 50em;
	}
	55% {
		left: 120em;
		top: 50em;
	}

	60% {
		left: 60em;
		top: 20em;
	}
	to {
	}
}

@keyframes item32 {
	from {
	}
	40% {
		left: 60em;
		top: 30em;
	}

	45% {
		left: 120em;
		top: 60em;
	}
	55% {
		left: 120em;
		top: 60em;
	}

	60% {
		left: 60em;
		top: 30em;
	}
	to {
	}
}

@keyframes item33 {
	from {
	}
	40% {
		left: 60em;
		top: 40em;
	}

	45% {
		left: 110em;
		top: 70em;
	}
	55% {
		left: 110em;
		top: 70em;
	}

	60% {
		left: 60em;
		top: 40em;
	}
	to {
	}
}

@keyframes item34 {
	from {
	}
	40% {
		left: 60em;
		top: 50em;
	}

	45% {
		left: 100em;
		top: 70em;
	}
	55% {
		left: 100em;
		top: 70em;
	}

	60% {
		left: 60em;
		top: 50em;
	}
	to {
	}
}

@keyframes item35 {
	from {
	}
	40% {
		left: 60em;
		top: 60em;
	}

	45% {
		left: 90em;
		top: 70em;
	}
	55% {
		left: 90em;
		top: 70em;
	}

	60% {
		left: 60em;
		top: 60em;
	}
	to {
	}
}

@keyframes item36 {
	from {
	}
	40% {
		left: 70em;
		top: 20em;
	}

	45% {
		left: 80em;
		top: 70em;
	}
	55% {
		left: 80em;
		top: 70em;
	}

	60% {
		left: 70em;
		top: 20em;
	}
	to {
	}
}

/*---------2s---------*/

@keyframes item37 {
	from {
	}
	40% {
		left: 70em;
		top: 40em;
	}

	45% {
		left: 140em;
		top: 10em;
	}
	55% {
		left: 140em;
		top: 10em;
	}

	60% {
		left: 70em;
		top: 40em;
	}
	to {
	}
}

@keyframes item38 {
	from {
	}
	40% {
		left: 70em;
		top: 50em;
	}

	45% {
		left: 140em;
		top: 20em;
	}
	55% {
		left: 140em;
		top: 20em;
	}

	60% {
		left: 70em;
		top: 50em;
	}
	to {
	}
}

@keyframes item39 {
	from {
	}
	40% {
		left: 70em;
		top: 60em;
	}

	45% {
		left: 150em;
		top: 0em;
	}
	55% {
		left: 150em;
		top: 0em;
	}

	60% {
		left: 70em;
		top: 60em;
	}
	to {
	}
}

@keyframes item40 {
	from {
	}
	40% {
		left: 70em;
		top: 80em;
	}

	45% {
		left: 160em;
		top: 0em;
	}
	55% {
		left: 160em;
		top: 0em;
	}

	60% {
		left: 70em;
		top: 80em;
	}
	to {
	}
}

@keyframes item41 {
	from {
	}
	40% {
		left: 60em;
		top: 80em;
	}

	45% {
		left: 170em;
		top: 0em;
	}
	55% {
		left: 170em;
		top: 0em;
	}

	60% {
		left: 60em;
		top: 80em;
	}
	to {
	}
}

@keyframes item42 {
	from {
	}
	40% {
		left: 80em;
		top: 70em;
	}

	45% {
		left: 180em;
		top: 0em;
	}
	55% {
		left: 180em;
		top: 0em;
	}

	60% {
		left: 80em;
		top: 70em;
	}
	to {
	}
}

@keyframes item43 {
	from {
	}
	40% {
		left: 80em;
		top: 60em;
	}

	45% {
		left: 190em;
		top: 10em;
	}
	55% {
		left: 190em;
		top: 10em;
	}

	60% {
		left: 80em;
		top: 60em;
	}
	to {
	}
}

@keyframes item44 {
	from {
	}
	40% {
		left: 80em;
		top: 50em;
	}

	45% {
		left: 190em;
		top: 20em;
	}
	55% {
		left: 190em;
		top: 20em;
	}

	60% {
		left: 80em;
		top: 50em;
	}
	to {
	}
}

@keyframes item45 {
	from {
	}
	40% {
		left: 80em;
		top: 40em;
	}

	45% {
		left: 150em;
		top: 30em;
	}
	55% {
		left: 150em;
		top: 30em;
	}

	60% {
		left: 80em;
		top: 40em;
	}
	to {
	}
}

@keyframes item46 {
	from {
	}
	40% {
		left: 80em;
		top: 30em;
	}

	45% {
		left: 160em;
		top: 30em;
	}
	55% {
		left: 160em;
		top: 30em;
	}

	60% {
		left: 80em;
		top: 30em;
	}
	to {
	}
}

@keyframes item47 {
	from {
	}
	40% {
		left: 80em;
		top: 20em;
	}

	45% {
		left: 170em;
		top: 40em;
	}
	55% {
		left: 170em;
		top: 40em;
	}

	60% {
		left: 80em;
		top: 20em;
	}
	to {
	}
}

@keyframes item48 {
	from {
	}
	40% {
		left: 70em;
		top: 10em;
	}

	45% {
		left: 180em;
		top: 40em;
	}
	55% {
		left: 180em;
		top: 40em;
	}

	60% {
		left: 70em;
		top: 10em;
	}
	to {
	}
}

@keyframes item49 {
	from {
	}
	40% {
		left: 80em;
		top: 0em;
	}

	45% {
		left: 190em;
		top: 50em;
	}
	55% {
		left: 190em;
		top: 50em;
	}

	60% {
		left: 80em;
		top: 0em;
	}
	to {
	}
}

@keyframes item50 {
	from {
	}
	40% {
		left: 90em;
		top: 30em;
	}

	45% {
		left: 190em;
		top: 60em;
	}
	55% {
		left: 190em;
		top: 60em;
	}

	60% {
		left: 90em;
		top: 30em;
	}
	to {
	}
}

@keyframes item51 {
	from {
	}
	40% {
		left: 90em;
		top: 40em;
	}

	45% {
		left: 140em;
		top: 60em;
	}
	55% {
		left: 140em;
		top: 60em;
	}

	60% {
		left: 90em;
		top: 40em;
	}
	to {
	}
}

@keyframes item52 {
	from {
	}
	40% {
		left: 100em;
		top: 40em;
	}

	45% {
		left: 140em;
		top: 50em;
	}
	55% {
		left: 140em;
		top: 50em;
	}

	60% {
		left: 100em;
		top: 40em;
	}
	to {
	}
}

@keyframes item53 {
	from {
	}
	40% {
		left: 100em;
		top: 50em;
	}

	45% {
		left: 150em;
		top: 70em;
	}
	55% {
		left: 150em;
		top: 70em;
	}

	60% {
		left: 100em;
		top: 50em;
	}
	to {
	}
}

@keyframes item54 {
	from {
	}
	40% {
		left: 100em;
		top: 60em;
	}

	45% {
		left: 160em;
		top: 70em;
	}
	55% {
		left: 160em;
		top: 70em;
	}

	60% {
		left: 100em;
		top: 60em;
	}
	to {
	}
}

@keyframes item55 {
	from {
	}
	40% {
		left: 100em;
		top: 70em;
	}

	45% {
		left: 170em;
		top: 70em;
	}
	55% {
		left: 170em;
		top: 70em;
	}

	60% {
		left: 100em;
		top: 70em;
	}
	to {
	}
}

@keyframes item56 {
	from {
	}
	40% {
		left: 50em;
		top: 30em
	}

	45% {
		left: 180em;
		top: 70em;
	}
	55% {
		left: 180em;
		top: 70em;
	}

	60% {
		left: 50em;
		top: 30em
	}
	to {
	}
}

@keyframes left1 {

	40% {
		left: 0;
		top: 0;
	}
	45% {
		left: -50em;
		top: 0;
	}
	55% {
		left: -50em;
		top: 0;
	}
	60% {
		left: 0;
		top: 0;
	}
}
